{
  "DEVICE_METADATA": {
    "localhost": {
      "hostname": "{{ item }}",
      "hwsku": "{{ hostvars[item]['hwsku'] }}",
      "docker_routing_config_mode": "unified",
      "frr_mgmt_framework_config": "true",
      "platform": "x86_64-kvm_x86_64-r0"
    }
  },
  "USER": {
    "admin": {
      "password": "$y$j9T$m6voLgs957x3r2XDmAtcv1$1RcWEPSCbxziwA1UNj8Cy89atMRF05JxzncC5.bQgX9",
      "status": "enabled"
    }
  },
  "MGMT_PORT": {
    "eth0": {
      "admin_status": "up",
      "autoneg": "true",
      "description": "Production Management Port",
      "mtu": "1500",
      "speed": "1000"
    }
  },
  "MGMT_INTERFACE": {
    "eth0|172.16.2.{{ hostvars[item]['ansible_host'].split('.')[-1] }}/24": {
      "gwaddr": "172.16.2.254"
    }
  }
}
