{# --- Post-reload overlay: loopback + fabric interfaces --- #}
{
    "LOOPBACK_INTERFACE": {
        "Loopback0": {},
        "Loopback0|{{ router_id }}/32": {}
    },

    "INTERFACE": {
{% for port_name in switch_ports %}
        "{{ port_name }}": {}{{ "," if not loop.last else "" }}
{% endfor %}
    }
}
